body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #ffe4e1;
    margin: 0;
    padding: 0;
    background-image: url('/static/images/sakura.jpg');
    background-size: cover;

}

.navbar {
    background-color: #ff69b4;
    padding: 20px;
    text-align: right;
}

.username {
    color: white;
    font-weight: bold;
    margin-right: 20px;
}

.logout-button {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #ff1493;
}

.logout-button:hover {
    background-color: #c71585;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-login {
    max-width: 800px;
    margin: 100px auto;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #ff69b4;
    font-size: 2.5em;
    padding-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input,
button {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #ff69b4;
}

button {
    background-color: #ff69b4;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #ff1493;
}

.alert {
    background-color: #ffb6c1;
    color: #c71585;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.video-container {
    margin-bottom: 20px;
    padding: 10px;
}

video {
    width: 100%;
    max-width: 640px;
    display: block;
    margin: 0 auto;
    border: 5px solid #ff69b4;
    border-radius: 10px;
}

.controls {
    text-align: center;
    margin-top: 10px;
}

.video-list {
    list-style-type: none;
    padding: 0;
}

.video-list li {
    margin-bottom: 20px;
}

.video-item {
    display: flex;
    align-items: center;
    background-color: #ffe4e1;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.video-thumbnail {
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-right: 15px;
    border: 2px solid #ff69b4;
    border-radius: 5px;
}

.video-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.video-info a {
    margin-bottom: 5px;
}

.delete-button {
    background-color: #ff1493;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    margin-left: 10px;
    border-radius: 5px;
}

.delete-button:hover {
    background-color: #c71585;
}

a {
    color: #ff69b4;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
}

a:hover {
    color: #ff1493;
}

.pink {
    color: #ff69b4;
}

.like-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s ease;
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
}

.like-button.liked {
    color: #ff4136;
}

.like-button .fa-heart {
    font-size: 24px;
}

.like-count {
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.upload-button {
    background-color: #ff1493;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.upload-button:hover {
    background-color: #ff69b4;
    color: white;
}