<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    {% if not hide_navbar %}
    <div class="navbar">
        {% if session.get('user_id') %}
        <span class="username">欢迎, {{ session.get('username') }}</span>
        <a href="{{ url_for('logout') }}" class="logout-button">注销</a>
        {% endif %}
    </div>
    {% endif %}
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>

</html>