{% extends "base.html" %}

{% block title %}视频列表{% endblock %}

{% block content %}
<div class="header">
    <h1 class="pink">视频列表</h1>
    <a href="{{ url_for('upload_video') }}" class="pink upload-button">上传新视频</a>
</div>

<h2 class="pink">我的视频</h2>
<ul class="video-list">
    {% for video in user_videos %}
    <li>
        <div class="video-item">
            <a href="{{ url_for('play_video', video_name=video.name) }}">
                <img src="{{ url_for('static', filename=video.thumbnail) }}" alt="{{ video.name }} 缩略图"
                    class="video-thumbnail">
            </a>
            <div class="video-info">
                <a href="{{ url_for('play_video', video_name=video.name) }}" class="pink">{{ video.name }}</a>
                <span class="video-creation-time pink">时间: {{ video.creation_time.split('T')[0] }}</span>
                <span class="video-duration pink">时长: {{ video.duration }}</span>
                <span class="video-visibility pink">{{ '公开' if video.is_public else '私密' }}</span>
                <span class="video-likes pink">点赞: <span id="likes-count-{{ video.id }}">{{ video.likes_count
                        }}</span></span>
            </div>
            <form action="{{ url_for('delete_video', video_id=video.id) }}" method="POST" style="display:inline;"
                onsubmit="return confirmDelete()">
                <button type="submit" class="delete-button">删除</button>
            </form>
        </div>
    </li>
    {% endfor %}
</ul>

<h2 class="pink">公开视频</h2>
<ul class="video-list">
    {% for video in public_videos %}
    <li>
        <div class="video-item">
            <a href="{{ url_for('play_video', video_name=video.name) }}">
                <img src="{{ url_for('static', filename=video.thumbnail) }}" alt="{{ video.name }} 缩略图"
                    class="video-thumbnail">
            </a>
            <div class="video-info">
                <a href="{{ url_for('play_video', video_name=video.name) }}" class="pink">{{ video.name }}</a>
                <span class="video-creation-time pink">时间: {{ video.creation_time.split('T')[0] }}</span>
                <span class="video-duration pink">时长: {{ video.duration }}</span>
                <span class="video-user pink">上传: {{ video.user }}</span>
                <span class="video-likes pink">点赞: <span id="likes-count-{{ video.id }}">{{ video.likes_count
                        }}</span></span>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

<script>
    function confirmDelete() {
        return confirm('您确定要删除这个视频吗？');
    }
</script>
{% endblock %}